span
{
font-size: 50px;
font-weight: 10000;
}
p
{
    font-size:30px;
}
img {
    float: right;
    border: 1px dotted black;
    
    border-radius: 50%;
  }
  body{
    background-color: chocolate;
  }